
/*#region   EntretientdeGouttière */
.service__ImgC{
    background-image: url(../img/carte1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
#service__EntretienG h2{
    font-size: var(--h2-main-);
    padding: calc(1rem + 1vmin) var(--padding-main-) ;
}
/* #endregion */

.margin{
    padding: 0 var(--padding-main-);
}